{% extends "layout.html" %}

{% block content %}
<h2>Verification</h2>
<form method="POST" action="{{ url_for('verify') }}">
    {{ form.hidden_tag() }}
        <div>
            {{ form.verification_code.label }}
            {{ form.verification_code(size=10) }}
            {% for error in form.verification_code.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div>
            {{ form.submit() }}
        </div>
</form>
{% endblock %}